.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-dog-square-fill-nav-menu {
    background-image: url('data:image/svg+xml,<svg class="svg-icon" style="width: 1em;height: 1em;vertical-align: middle;fill: white;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M802.413714 414.464c27.574857-12.068571 48.493714-32.512 68.114286-53.028571 22.363429-23.387429 22.656-52.699429 22.656-68.041143 0-24.393143-22.912-43.629714-60.16-44.525715-19.730286-0.475429-31.780571 4.443429-48.219429 16.420572-11.776 8.557714-39.369143 36.571429-27.062857 59.483428 0.64 1.188571 1.682286 2.633143 3.163429 4.333715a9.490286 9.490286 0 0 1 0.146286 12.214857 8.594286 8.594286 0 0 1-11.904 1.334857l-1.938286-1.499429c-24.32-18.578286-37.558857-25.490286-37.558857-53.010285 0-51.785143 68.333714-101.540571 134.326857-99.949715 65.92 1.590857 117.248 49.188571 117.248 104.685715 0 30.354286-19.346286 73.417143-50.980572 106.514285a210.450286 210.450286 0 0 1-71.698285 49.078858c1.718857 2.834286 3.492571 5.888 5.302857 9.197714 17.92 32.658286 15.579429 36.626286 17.865143 77.421714 2.267429 40.813714-9.801143 113.773714-5.174857 149.723429 4.644571 35.931429 27.849143 39.936 32.950857 65.828571 3.236571 16.402286 11.264 87.606857 24.082285 213.577143a18.304 18.304 0 0 1-18.212571 20.187429h-37.613714a18.249143 18.249143 0 0 1-18.249143-18.249143v-9.088c0-5.76 2.706286-11.190857 7.314286-14.628572l5.814857-4.370285c5.577143-4.187429 8.301714-11.172571 7.003428-18.029715-10.002286-53.248-18.797714-85.302857-26.368-96.164571-5.595429-8.045714-30.866286-21.156571-63.451428-46.573714-5.833143-4.571429-16.329143-14.262857-31.451429-29.110858a9.142857 9.142857 0 0 0-15.506286 5.412572c-2.742857 21.997714-6.180571 40.539429-10.258285 55.625143-4.937143 18.176-20.114286 65.590857-45.513143 142.208-2.486857 7.497143-9.490286 12.544-17.371429 12.544h-47.872a16.365714 16.365714 0 0 1-16.347428-16.347429v-1.097143c0-8.850286 6.308571-16.420571 15.012571-18.011428l20.534857-3.766857c14.738286-53.833143 21.156571-93.257143 19.291429-118.290286-1.316571-17.700571-13.275429-38.290286-25.325714-74.130286-2.505143-7.460571-6.034286-22.674286-10.569143-45.714286a9.142857 9.142857 0 0 0-11.282286-7.076571l-121.837714 31.561143a9.142857 9.142857 0 0 0-5.778286 13.165714l2.870857 5.412572c5.485714 10.276571 8.338286 21.76 8.338286 33.408v171.154285c0 5.686857-2.651429 11.062857-7.168 14.537143l-25.545143 19.565714a18.304 18.304 0 0 1-11.154286 3.785143H414.537143a18.304 18.304 0 0 1-18.285714-18.304v-9.325714c0-6.637714 3.565714-12.763429 9.362285-16l13.165715-7.350857c6.290286-3.492571 9.929143-10.349714 9.325714-17.517714-2.084571-24.704-4.644571-43.501714-7.716572-56.374858-3.145143-13.275429-10.788571-36.973714-22.912-71.058285a9.142857 9.142857 0 0 0-14.610285-3.84l-3.565715 3.072c-8.941714 7.734857-19.858286 12.8-31.524571 14.683428l-114.322286 18.285715a9.142857 9.142857 0 0 0-5.321143 15.177142l12.16 13.385143c3.072 3.364571 4.754286 7.753143 4.754286 12.306286v11.958857a18.304 18.304 0 0 1-18.834286 18.285714l-14.994285-0.438857a18.304 18.304 0 0 1-14.025143-7.204571L178.285714 847.122286a18.304 18.304 0 0 1-3.748571-11.099429v-36.352c0-6.345143 3.291429-12.251429 8.685714-15.579428 78.098286-48.274286 120.448-74.953143 127.049143-80.091429 6.838857-5.302857 9.691429-14.171429 8.557714-26.587429-12.726857-37.796571-33.115429-51.181714-42.276571-73.563428-9.142857-22.363429-26.148571-91.977143-34.56-118.710857-16.914286-53.76-31.762286-82.194286-35.766857-90.697143-8.996571-19.090286-24.868571-21.796571-41.636572-28.379429-16.768-6.601143-48.64-5.595429-69.376-23.789714-20.717714-18.212571-18.816-37.229714-23.643428-57.929143v-25.325714c0-10.112 8.210286-18.304 18.322285-18.304h49.664c6.710857 0 12.873143-3.657143 16.091429-9.563429 5.668571-10.404571 14.72-20.352 27.172571-29.824a157.787429 157.787429 0 0 1 55.570286-26.861714c-4.571429-56.941714-4.571429-89.106286 0-96.493714 4.571429-7.387429 17.28 4.169143 38.162286 34.669714 2.980571-35.913143 8.795429-49.078857 17.462857-39.497143 8.082286 8.96 22.034286 41.508571 41.837714 97.645714 2.596571 7.314286 6.345143 14.226286 11.099429 20.388572 8.32 10.752 15.817143 23.625143 22.528 38.582857 12.745143 28.452571 27.629714 102.765714 53.979428 139.318857 26.331429 36.553143 41.709714 39.552 79.744 46.317714 25.270857 4.498286 112.402286-9.874286 183.771429-12.653714 54.966857-2.157714 99.181714 7.094857 107.154286 9.142857 2.870857 0.749714 5.613714 1.572571 8.283428 2.56z" /></svg>');
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
